.hero-container .animation-container {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 30%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 15px;
}

.hero-container svg {
  height: 42vh;
}
.hero-container {
  position: relative;
  margin-bottom: 80px;
}
.hero-container .page {
  height: 270vh;
}

.hero-container .content {
  /* position: fixed; */
  /* top: 0; */
  left: 0;
  bottom: 0;
  display: flex;
}

.hero-container .content-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.hero-container .content-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: -10vh;
  max-width: 700px;
  text-align: center;
}

.hero-container .arrow-animated {
  font-size: 35px;
  animation: arrow-float 1s infinite;
}

@keyframes arrow-float {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(50%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
